# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# OS-specific
.DS_Store       # macOS
Thumbs.db       # Windows